* {
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

:root {
    --larger-font-size: 20px;
    --large-font-size: 18px;
    --medium-font-size: 16px;
    --small-font-size: 12px;
    --smaller-font-size: 10px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    gap: 20px;
    align-items: start;
    background-color: rgb(50,170,255);
    color: white;
    font-weight: bold;
    font-size: var(--large-font-size);
}

#sidebar > * {
    padding: 10px;
}

#sidebar #logo {
    grid-row: 1 / 2;
    height: 80px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px;
}

.sidebarLink {
    height: 30px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px;
}

#sidebar #links1 {
    grid-row: 2 / 3;
    display: grid;
    gap: 10px;
}

#sidebar #links2 {
    grid-row: 3 / 4;
    display: grid;
    gap: 10px;
    align-content: start;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding: 10px;
    padding-left: 30px;
}

#header #headerTop {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#headerTop #searchBar {
    grid-column: 1 / 2;
}

#headerTop #headerTopRight {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
}

#header #headerBottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#headerBottom #headerBottomLeft {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-weight: bold;
}

#headerBottomLeft #greeting {
    display: grid;
    align-items: center;
}

#displayPicture {
    display: grid;
    justify-content: center;
    align-items: center;
}

#greeting1 {
    font-size: var(--small-font-size);
}

#greeting2 {
    font-size: var(--larger-font-size);
}

#headerBottom #headerButtons {
    grid-column: 2 / 3;
}

#mainBody {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
    gap: 10px;
    background-color: rgb(220,220,225);
    padding-top: 30px;
    font-size: var(--large-font-size);
    padding-left: 15px;
}

#mainBody #projects {
    grid-area: 1 / 1 / 3 / 2;
}

#projectCards {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

#projectCards > div {
    height: 200px;
    background-color: white;
    display: grid;
}

.cardText::before {
    content: "";
    display: inline-block;
    background-color: rgb(250,170,0);
    height: 100%;
    min-width: 5px;
}

#mainBody #announcements {
    grid-area: 1 / 2 / 2 / 3;
}

#mainBody #trending {
    grid-area: 2 / 2 / 3 / 3;
}